*{
	font-family: $body_font;
}

.navbar .navbar-nav {
    display: inline-block;
    float: $nada;
}

.navbar .navbar-collapse {
    text-align: $centrado;
}

.navbar.navbar-default{
	background-color: $nav_background;
	border-radius: 0;
	margin: 0;
	border: $nada;
	.navbar-nav{
		li{
			a{
				color: #fff;
			}
			a:hover{
				color: $rosado_resalte;
			}
			a.dropdown-toggle{
				background-color: $transparente;
			}
			.dropdown-menu{
				background-color: $nav_background;
				a{
					color: #fff;
					background-color: $transparente;
				}
				a:hover{
					color: $rosado_resalte;
				}
			}
		}
	}
}

.seccion-rosada{
	background-color: $rosado_background;
	.seccion-circulos{
		position: relative;
		top: -50px;
		.circulos-borde{
			border-radius: 50%;
			border: 10px solid $rosado_resalte;
		}
	}
}

.welcome{
	background-color: #F4F4F4;
	@include paddingSeccion();
	border-bottom: 2px solid $rosado_resalte;
	img{
		border-radius: 8px;
	}
}

.about{
	background-color: $about_background;
	color: $rosado_resalte;
	border-bottom: 2px solid $rosado_resalte;
	@include paddingSeccion();
	img{
		margin: 0 25px 25px 25px;
	}
}

footer{
	background-color: $color_footer;
	color: $rosado_resalte;
	padding: 3% 0;
	.col-red-social{
		padding-left: 0;
	}
	img{
		@include redesSociales();
	}
	h4{
		margin-bottom: 20px;
	}
}

@media (max-width: 768px){
	.seccion-circulos{
		padding-top: 60px;
	}
}