*{
	font-family: $body_font;
}

.navbar .navbar-nav {
    display: inline-block;
    float: $nada;
}

.navbar .navbar-collapse {
    text-align: $centrado;
}

.navbar.navbar-default{
	background-color: $nav_background;
	border-radius: 0;
	margin: 0;
	border: $nada;
	.navbar-nav{
		li{
			a{
				color: #fff;
			}
			a:hover{
				color: $rosado_resalte;
			}
			a.dropdown-toggle{
				background-color: $transparente;
			}
			.dropdown-menu{
				background-color: $nav_background;
				a{
					color: #fff;
					background-color: $transparente;
				}
				a:hover{
					color: $rosado_resalte;
				}
			}
		}
	}
}

.seccion-circulos{
	position: absolute;
	top: 390px;
	left: 70px;

	.circulos-borde{
		border-radius: 50%;
		border: 10px solid $rosado_resalte;
	}
}



@media (max-width: 768px){
	.seccion-circulos{
		position: relative;
		top: 0;
		left: 0;
	}
}